.gardensContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridgardens {
  box-shadow: 0 0 10px gray;
  border: 0px solid black !important;
}

.submit-button {
    margin-left: 40px;
    white-space: nowrap;
}

.cardgardens {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 16px;
  margin: 8px;
}

.cardgardensHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardgardensTitle {
    color: green;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.cardgardens span {
  transition: transform 200ms;
  font-size: 35px;
  font-weight: 600;
  width: 10px;
}

.cardgardensBody {
  margin-top: 16px;
}

.cardgardensPlantType,
.cardgardensWateringStatus {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .cardgardens:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .cardgardens:hover span {
    transform: translateX(25px);
  }
}

/* .cardgardens {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  }
  
  .cardgardens span {
    display: inline-block;
    transition: transform 200ms;
  }
  
  .cardgardens h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  
  .cardgardens p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  } */
