.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-top: 50px;
    width: 600px;
    border-radius: 6px;
    box-shadow: 0 0 20px gray;
}

h2 {
    font-size: 40px;
}

.form-login {
    margin-top: 30px;
}

.login-text {
    font-size: 24px;
}

.inputText {
    width: 400px !important;
    height: 40px !important;
    background-color: white !important;
    border-radius: 10px;
    border: 1px solid black !important;
}

.submit-button {
    margin-top: 10px;
    color: #156EBF;
}